  *,
  *::before,
  *::after {
      box-sizing: border-box;
  }

  html,
  body {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

  }

  body {
      background: linear-gradient(200deg, #044f48, #fa7561);
      background-size: cover;
      font-family: 'Open Sans', sans-serif;
      font-size: 12px;
      line-height: 1.3;
      overflow: hidden;
  }

  .chat {
      width: 600px;
      height: 80vh;
      max-height: 500px;
      z-index: 2;
      overflow: hidden;
      box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
      background: rgba(0, 0, 0, .5);
      border-radius: 20px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
  }


  .chat-title {
      flex: 0 1 45px;
      position: relative;
      z-index: 2;
      background: rgba(0, 0, 0, 0.2);
      color: #fff;
      text-transform: uppercase;
      text-align: left;
      padding: 10px 10px 10px 50px;

      h1,
      h2 {
          font-weight: normal;
          font-size: 10px;
          margin: 0;
          padding: 0;
      }

      h2 {
          color: rgba(255, 255, 255, .5);
          font-size: 8px;
          letter-spacing: 1px;
      }

  }


  .messages {
      flex: 1 1 auto;
      color: rgba(255, 255, 255, .5);
      overflow-y: scroll;
      position: relative;
      width: 100%;

      & .messages-content {
          position: absolute;
          top: 0;
          left: 0;
          height: 101%;
          width: 100%;
      }


      .message {
          clear: both;
          float: left;
          padding: 6px 10px 7px;
          border-radius: 10px 10px 10px 0;
          background: rgba(0, 0, 0, .3);
          margin: 8px 0;
          font-size: 11px;
          line-height: 1.4;
          margin-left: 35px;
          position: relative;
          text-shadow: 0 1px 1px rgba(0, 0, 0, .2);

          .timestamp {
              position: absolute;
              bottom: -15px;
              font-size: 9px;
              color: rgba(255, 255, 255, .3);
              left: 0;
              top: auto;
          }







      }
  }

  .message-box {
      flex: 0 1 40px;
      width: 100%;
      background: rgba(0, 0, 0, 0.3);
      padding: 10px;
      position: relative;
  }

  .message-submit {
      position: absolute;
      z-index: 1;
      top: 9px;
      right: 10px;
      color: #fff;
      border: none;
      background: #248A52;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 1;
      padding: 6px 10px;
      border-radius: 10px;
      outline: none !important;
      transition: background .2s ease;
      cursor: pointer;
  }

  .message-input {
      background: none;
      border: none;
      outline: none !important;
      resize: none;
      color: rgba(255, 255, 255, .7);
      font-size: 11px;
      height: 17px;
      margin: 0;
      padding-right: 20px;
      width: 265px;
  }
